!!! 5
%html
  %head
    %title R101 Foosball Leaderboard!
    %link{ rel: 'stylesheet', href: '/assets/index.css' }
  %body
    .container
      %ul
        - @players.each do |player|
          %li=player.nickname
          %li=player.first_name
