!!! 5
%html
  %head
    %title R101 Foosball Leaderboard!
    %link{ rel: 'stylesheet', href: '/assets/app.css' }
  %body
    .container
      %input{ type: "checkbox", id: "menu", class: "menuControl", checked: "checked" }
        %label{ for: "menu" }
          %div{ class: "circle-container" }
            %button{ class: "circle" }
              &#10006;

        %ul{ class: "items" }
          %li=image_tag '/assets/team/team_ben_g.jpg', 'data-id' => '3', class: 'player', width: '76px', height: '76px'
          %li=image_tag '/assets/team/team_ben_m.jpg', 'data-id' => '5', class: 'player', width: '76px', height: '76px'
          %li=image_tag '/assets/team/team_eric.jpg', 'data-id' => '4', class: 'player', width: '76px', height: '76px'
          %li=image_tag '/assets/team/team_aditya.jpg', 'data-id' => '8', class: 'player', width: '76px', height: '76px'
          %li=image_tag '/assets/team/team_christine.jpg', 'data-id' => '12', class: 'player', width: '76px', height: '76px'
          %li=image_tag '/assets/team/team_brett.jpg', 'data-id' => '7', class: 'player', width: '76px', height: '76px'
          %li=image_tag '/assets/team/team_david.jpg', 'data-id' => '6', class: 'player', width: '76px', height: '76px'
          %li=image_tag '/assets/team/team_rex.jpg', 'data-id' => '15', class: 'player', width: '76px', height: '76px'
          %li=image_tag '/assets/team/team_jordan_d.jpg', 'data-id' => '9', class: 'player', width: '76px', height: '76px'
          %li=image_tag '/assets/team/team_jordan_s.jpg', 'data-id' => '10', class: 'player', width: '76px', height: '76px'
          %li=image_tag '/assets/team/team_lindsay.jpg', 'data-id' => '14', class: 'player', width: '76px', height: '76px'
          %li=image_tag '/assets/team/team_max.jpg', 'data-id' => '13', class: 'player', width: '76px', height: '76px'

    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'
    = javascript_script_tag '/assets/app.js'
