!!! 5
%html
  %head
    %title R101 Foosball Leaderboard!
    %link{ rel: 'stylesheet', href: '/assets/app.css' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
  %body
    = yield

    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'
    = javascript_script_tag '/assets/app.js'
